* {
    box-sizing: border-box;
    border: black 2px solid;
}

.container {
    max-width: 1296px;
    margin: 0 auto;
}

.hero-section {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 800px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner.png");
}

.section--sale {
    position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
    height: 470px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("https://raw.githubusercontent.com/hexschool/2022-web-layout-training/refs/heads/main/2025-week3-4/banner-co-branded.png");
}