@mixin display-1 {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    letter-spacing: 3.2px;
}

@mixin display-2 {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 2.4px;
}

@mixin heading-1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: 2px;
}

@mixin heading-2 {
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    letter-spacing: 1.6px;
}

@mixin heading-3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: 1.4px;
}

@mixin heading-4 {
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 1.2px;
}

@mixin heading-5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 1px;
}

@mixin heading-6 {
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0.8px;
}

@mixin label-lg {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1px;
}

@mixin label-md {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.8px;
}

@mixin label-sm {
    font-weight: 500;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.7px;
}

@mixin label-xs {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.6px;
}

@mixin paragraph-lg {
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 1px;
}

@mixin paragraph-md {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.8px;
}

@mixin paragraph-sm {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0.7px;
}

@mixin paragraph-xs {
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.6px;
}